/* Landscape Layout */
*{
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  display: grid;
  grid-template-columns: 450px auto;
  width: 100vw;
  height: 70px;
  z-index: 2;
  transform: translateY(-70px);
  transition: transform 0.5s ease-in;
}

.header-entered {
  transform: translateY(0px)
}

.header-entering {
  transform: translateY(-70px)
}

#headerTitle {
  width: 440px;
}

#headerTitle h1{
  font-size: 1.7em;
  height: 60%;
  margin: 0px;
  padding: 10px 0px 0px 50px;
  line-height: 100%;
}

#headerTitle h2{
  font-size: 1em;
  height: 40%;
  margin: 0px 0px 0px 100px;
  padding: 0px;
}

button {
  outline: none;
}

.appIframe{
  grid-row: 2;
  height: calc(100vh - 70px);
  width: 100vw;
  overflow: hidden;
  border: none;
}

.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(30,30,30);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 70px auto;
}

main{
  overflow-y: auto;
  grid-row: 2;
  background: rgb(30,30,30);
  z-index: 1;
}

/* Custom Style Classes */

.bg-cust-gold{
  background-color: #D9E254;
}

.remove-top-border{
  border-top: none;
}

@media screen and (max-width: 590px){
  .columns2{
    grid-template-rows: auto auto;
    grid-template-columns: auto;
  }

  .col1{
    grid-row: 1;
    border: none;
  }

  .col2{
    grid-row: 2;
  }

  #headerTitle {
    width: 100%;
  }
  
  #headerTitle h1{
    height: auto;
    font-size: 1em;
    margin: 0px;
    padding-left: 2vw;
    line-height: 100%;
    margin-top: 2vw;
  }
  
  #headerTitle h2{
    height: auto;
    font-size: .8em;
    padding-left: 2vw;
    margin: 0px;
  }

  header {
    grid-template-columns: auto 150px;
  }
}