/* Landscape Layout */
*{
  box-sizing: border-box;
  overflow: hidden;
}

button {
  outline: none;
}

.appIframe{
  grid-row: 2;
  height: calc(100vh - 70px);
  width: 100vw;
  overflow: hidden;
  border: none;
}

.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(30,30,30);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 70px auto;
}

nav{
  grid-row: 1;
  display: inline-block;
  text-align: center;
  background-color: black;
}

main{
  overflow-y: auto;
  grid-row: 2;
  background: rgb(30,30,30);
}

header {
  grid-row: 1;
  background-color:  rgb(30,30,30);
  display: grid;
  grid-template-columns: calc(100vw - 300px) 300px;
  top: -70px;
  width: 100vw;
  position: absolute;
  transition: top 250ms ease-in;
}

.showHeader {
  top:0px;
  /* position: static; */
}

/* Custom Style Classes */

.bg-cust-gold{
  background-color: #D9E254;
}

.remove-top-border{
  border-top: none;
}

.hide{
  display: none;
}

.navButton {
  display: block;
  width: 147px;
  height: 100%;
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
  border-left: 1px solid silver;
}

.leftButton {
  border: none;
}

.navMenu {
  position: static;
  background-color: black;
  border-radius: 15px;
  color: silver;
  width: 296px;
  height: 64px;
  border: 1px solid silver;
  margin: 3px;
  z-index: 100;
}

.navOpen {
  display: none;
}

.myName {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 560px){
  .columns2{
    grid-template-rows: auto auto;
    grid-template-columns: auto;
  }

  .col1{
    grid-row: 1;
    border: none;
  }

  .col2{
    grid-row: 2;
  }

  .navMenu{
    opacity: 0;
    position: fixed;
    top: 64px;
    right: 0px;
    background-color: black;
    border-radius: 15px;
    color: silver;
    width: 128px;
    height: 0px;
    border: 1px solid silver;
    margin: 3px;
    transition: height 0.5s ease-in-out;
  }

  .navOpen {
    display: block;
    width: 64px;
    height: 64px;
    font-size: 25px;
    border-radius: 15px;
    margin: 3px;
    position: relative;
    background-color: black;
    color: silver;
  }

  .navButton {
    opacity: 0;
    height: 64px;
    width: 128px;
    border: 1px solid silver;
  }

  .leftButton {
    border: none;
  }

  .navMenuOpen{
    height: 128px;
    opacity: 1;
  }

  .fade-in {
    transition: opacity 0.3s ease-in-out 0.18s ;
    opacity: 1;
  }

  header {
    grid-template-columns: auto 76px;
  }
}