nav {
    width: auto;
    height: 70px;
    display: block;
    position: relative;
    grid-column: 2;
    z-index: -1;
}

#hamburgerButton {
    display: none;
    z-index: 4;
}

.navMenu {
    z-index: 1;
    display: inline-block;
    position: absolute;
    height: 70px;
    width: auto;
    right: 0px;
}

nav .navButton {
    border: none;
    background-color: black;
    font-weight: bold;
    height: 70px;
    width: 150px;
    color: white;
    padding: 0px;
    margin: 0px;
}

nav .navButton:hover {
    background-color: darkslategrey;
}

@media screen and (max-width: 900px) {
    #hamburgerButton {
        display: block;
    }    

    nav {
        right: 0px;
        position: absolute;
        width: 150px;
        height: auto;
    }

    .navMenu {
        display: inline-block;
        position: relative;
        height: auto;
        width: 150px;
        transition: transform 0.5s ease-in-out;
    }

    .navClosed {
        transform: translateX(280px);
    }

    .navOpen {
        
    }
}