.linkButton{
    width: auto;
    height: 50px;
    border-radius: 10px;
    border: 1px solid silver;
    margin: 4px;
    transition: transform 200ms ease-in-out;
    background-color: white;
    display: inline-flex;
}

.linkButton h5 {
    align-content: center;
    margin: 0px;
    padding-top:15px;
    padding-right: 5px;
    cursor: pointer;
}

.linkButton img{
    padding: 5px;
    margin: 0px;
    height: 48px;
}

.linkButton:hover{
    transform: scale(1.1);
}