.articleCard {
    width: 80vw;
    background-color: white;
    margin: 8px;
    vertical-align: top;
    border-radius: 10px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px auto;
}

.articleCard p {
    margin: 15px 20px;
    text-align: left;
    font-size: .9em;
}

.articleCard h6 {
    text-align: left;
    margin: 10px 0px 0px 20px;
}

.articleKeywords {
    margin: 15px;
    text-align: left;
}

.articleLinks {
    margin: 15px;
}

.articleData > ul {
    margin: 0px 0px;
    padding-left: 40px;
    text-align: left;
}

.articleData > ul > li {
    padding: 5px 0px;
}

.articleImage {
    align-self: center;
}

@media screen and (orientation: landscape) and (max-width: 850px) {
    .articleCard {
        width: calc(100vw - 20px);
    }
}

@media screen and (orientation: portrait) {
    .articleCard {
        width: calc(100vw - 20px);
        margin: 8px;
        border-radius: 10px;
        border: 1px solid black;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        margin: 10px 10px;
    }

    .articleData {
        grid-row: 2
    }

    .articleImage {
        grid-row: 1
    }
}