.keywordButton {
    width: auto;
    font-size: .8em;
    background-color: white;
    border: none;
    outline: none;
    margin: 0px;
    padding: 5px;
    cursor: pointer;
    user-select: none;
}