.appIframe{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  border: none;
}

.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(30,30,30);
}

.dark{
  background-color: rgb(30,30,30);
}
