/* Landscape Layout */
*{
  box-sizing: border-box;
}

.appIframe{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  border: none;
}

.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(30,30,30);
  width: 100vw;
  height: 100vh;
}

.nav{
  display: inline-block;
  text-align: center;
  background-color: black;
}

.main{
  display: grid;
  grid-template-columns: auto 70% auto;
  background-color: white;
}

.main-inner{
  width: 70vw;
  height: 100vh;
  margin-left: 15vw;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 10% 90%;
}

.main nav {
  grid-column: 1;
  grid-row: 2;
}

.main main {
  grid-column: 2;
  grid-row: 2;
}

.main header {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #49205E;
}

/* Customer Style Classes */

.bg-cust-gold{
  background-color: #D9E254;
}

.hide{
  display: none;
}

/*React Transition Group*/
.my-node-enter{
  opacity: 0;
}

.my-node-enter-active{
  opacity: 1;
  transition: opacity 200ms;
}

.my-node-exit{
  opacity: 1;
}

.my-node-exit-active{
  opacity: 0;
  transition: opacity 200ms;
}