* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
iframe{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    border: none;
}
body, main {
    background-color: rgb(30,30,30);
}
main{
    display: inline-block;
    position: fixed;
    height: 80vh;
    width: 80vw;
    margin-top: 10vh;
    margin-left: 10vw;
}
h3{
    font-family: Consolas, 'Courier New', monospace;
    font-weight: normal;
    font-size: 3vh;
}
pre {
    display:inline-table;
    padding-top: 1vh;
}
.t1{margin-left: 4vw;}
.t2{margin-left: 8vw;}
.t3{margin-left: 12vw;}
.t4{margin-left: 16vw;}
.lblue{color:rgb(128, 198, 255);}
.green{color: rgb(87, 199, 147);}
.blue{color:rgb(43, 116, 199);}
.yellow{color:rgb(218, 218, 162);}
.white{color:white;}
.red{color:rgb(255, 109, 83);}

@media screen and (orientation: portrait) {
    h3 {
        font-size: 3vw;
    }
    main {
        width: 90vw;
    }
}